<a href="https://colab.research.google.com/github/anteaterst/BigDataStudy_All/blob/main/1026python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
from datetime import datetime
import pandas as pd
now = datetime.now()

now

datetime.datetime(2017,9,25,14,5,52,72973)

now.year, now.month, now.day

AttributeError: ignored

In [38]:
delta = datetime(2001,1,7)-datetime(2008,6,24,6,15)
delta


#datetime은 날짜와 시간을 모두 저장하여 마이너스초까지 지원한다
#timedelta를 더하거나 빼면 그만큼의 시각이 datetime 개체에 적용되어 새로운 객체를 만들 수 있다.

datetime.timedelta(-2726, 63900)

In [39]:
delta.days

-2726

In [40]:
delta.seconds

63900

In [41]:
from datetime import timedelta

In [42]:
start = datetime(2011,1,7)

In [43]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [23]:
start -2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [24]:
# 실제 파이썬을 사용하면서 다양한곳에서 datetime 기반의 자료를 마주치게 될 것이다.

In [25]:
stamp = datetime(2001,1,3)

In [26]:
str(stamp)

'2001-01-03 00:00:00'

In [27]:
stamp.strftime('%Y-%m-%d')

'2001-01-03'

In [35]:
from dateutil.parser import parse

In [44]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [46]:
#dateutil은 거의 대부분의 사람이 인지하는 날짜 표현방식을 짜를 수 있다.
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [47]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [51]:
datestrs = ['2011-07-06 12:00:00','2011-08-06 00:00;00']

In [52]:
# 판다스는 일반적으로 DataFrame의 컬럼이나 출 색인으로 날짜가 감딘 베이스를 사용한다

In [56]:

#누락된값으로 간주되어야 할 값도 처리해준다

In [63]:
#시계열 기초

from datetime import datetime
import pandas as pd
import numpy as np
dates = [datetime(2011,1,2), datetime(2011,1,5),
         datetime(2011,1,7), datetime(2011,1,8),
         datetime(2011,1,10), datetime(2011,1,12)]

In [64]:
ts = pd.Series(np.random.randn(6), index=dates)

In [65]:
ts

2011-01-02    1.204863
2011-01-05    0.194440
2011-01-07    0.662580
2011-01-08    0.524608
2011-01-10   -0.205891
2011-01-12    1.924528
dtype: float64

In [66]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [67]:
ts + ts[::2]

2011-01-02    2.409725
2011-01-05         NaN
2011-01-07    1.325161
2011-01-08         NaN
2011-01-10   -0.411781
2011-01-12         NaN
dtype: float64

In [68]:
ts.index.dtype

dtype('<M8[ns]')

In [69]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [70]:
stamp = ts.index[2]
ts[stamp]

0.6625802807548393

In [71]:
ts['1/10/2011']

-0.20589068306950933

In [72]:
ts['20110110']

-0.20589068306950933

In [73]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000',periods=1000))

In [75]:
longer_ts

2000-01-01   -2.180111
2000-01-02    1.430968
2000-01-03    0.127794
2000-01-04   -1.036016
2000-01-05   -1.079127
                ...
2002-09-22   -1.145229
2002-09-23    0.689471
2002-09-24    0.296830
2002-09-25   -0.109317
2002-09-26    0.212273
Freq: D, Length: 1000, dtype: float64

In [80]:
#Timestamps 는 datetime 객체를 사용하는 어떤 곳에서도 대체사용이 가능하다 
#게다가 가능하다면 빈도에 관한 정보도 저장하며 시간대 반환을 하는 방법과 다른종류의 조작을 하는 방법도 포함되어 있다.



#색인, 선택, 부분선택

# 시계열은 라벨에 기반해서 데이터를 선택하고 인덱싱 할때 pandas에 Serise와 동일하게 동작한다.

longer_ts['2001']

2001-01-01    0.320993
2001-01-02   -0.625744
2001-01-03   -1.389948
2001-01-04    0.683681
2001-01-05   -0.655271
                ...
2001-12-27   -0.467350
2001-12-28    1.493268
2001-12-29    0.265807
2001-12-30    2.605430
2001-12-31   -0.055346
Freq: D, Length: 365, dtype: float64

In [81]:
longer_ts['2001-05']

2001-05-01   -1.524175
2001-05-02   -0.915473
2001-05-03    0.181435
2001-05-04   -0.850959
2001-05-05   -0.780429
2001-05-06    0.607879
2001-05-07    0.493054
2001-05-08    3.286240
2001-05-09   -0.297184
2001-05-10   -0.261210
2001-05-11    0.679015
2001-05-12   -1.633531
2001-05-13    1.140410
2001-05-14    0.605803
2001-05-15    1.723424
2001-05-16    0.135647
2001-05-17   -1.037198
2001-05-18    0.338245
2001-05-19    0.238049
2001-05-20    1.172568
2001-05-21    0.473090
2001-05-22   -1.619204
2001-05-23    0.063113
2001-05-24    0.017085
2001-05-25    1.538761
2001-05-26   -0.098797
2001-05-27   -0.691097
2001-05-28    0.934747
2001-05-29   -3.113619
2001-05-30   -1.707967
2001-05-31   -0.346646
Freq: D, dtype: float64

In [82]:
ts[datetime(2011,1,7):]

2011-01-07    0.662580
2011-01-08    0.524608
2011-01-10   -0.205891
2011-01-12    1.924528
dtype: float64

In [83]:
ts 

## 대부분의 시계열 데이터는 연대순으로 정렬되기 때문에 범위를 지정하기 위해서 
##시계열에 포함하지 않고 타임스탬스를 이용해서 Seriese를 나눌 수 있다 


##앞에서와 같이 날짜 문자열이나 datetime혹은 타임스탬프를 넘길 수 있다. 이런 방식으로 데이터를 나누게 되면 Numpy 배열을 나누는 것처럼 
##원본 시계열에 대한 객체를 생성한다는 사실을 기억하자 즉 데이터 복사가 발생하지않고 슬라이스 에 대한 변경이 원본데이터에 반영된다.

2011-01-02    1.204863
2011-01-05    0.194440
2011-01-07    0.662580
2011-01-08    0.524608
2011-01-10   -0.205891
2011-01-12    1.924528
dtype: float64

In [84]:

ts['1/6/2011' : '1/11/2011']

2011-01-07    0.662580
2011-01-08    0.524608
2011-01-10   -0.205891
dtype: float64

In [85]:
## 중복된 색인을 갖는 시계열
#어떤 애플리케이션에는 ㅇ러 데이터가 특정 타임스탬스에 몰려있는 것을 볼 수 있다
#is_unique 속성을 통해 확인해보면 색인이 유일하지 않음을 알 수 있다.

# 유일하지 않은 타임스탬스를 가지는 데이터를 집계한다고 가정해보자 한가지 방법은 groupby에
# level=0단일 단계 인덱싱을 넘기는 것이다.

In [89]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','/1/2/2000','1/2/2000','1/3/2000'])


dup_ts = pd.Series(np.arange(5), index=dates)

dup_ts

dup_ts.index.is_unique
dup_ts['1/3/2000']
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [88]:

grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [90]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [91]:
#판다스에서 일반적인 시계열은 불규칙적인 것으로 간주한다. 즉, 그것은 고정된 빈도를 갖지 않는다.
ts

2011-01-02    1.204863
2011-01-05    0.194440
2011-01-07    0.662580
2011-01-08    0.524608
2011-01-10   -0.205891
2011-01-12    1.924528
dtype: float64

In [92]:
# 날짜 범위, 빈도, 이동


## 판다스에서 일반적인 시계열은 불규칙적인 것으로 고정된 빈도를 갖지 않는다 대부분의 애플레이션에서 이것은 충분하다. 하지만 시계열 안에서
# 누락된 값이 발생할지라도 일별 월별 혹은 매 15분과 같은 상대적인 고정빈도에서의 자업이 요구되는 경우가 종종있다.
#다행하게도 pandas에는 리샘플링,표준 시계열빈도모음, 빈도추론 그리고 고정된 빈도의 날짜범위를 위한 도구가 있다. 
##빈도간의 변환이나 리샘플링은 큰 주제이므로 다음에 미루자

In [93]:
#날짜 범위 생성하기 

#앞에서는 설명없이 그냥 사용했는데 pandas.date_range를 사용하면 특정빈도에따라 ..



#기분적으로 date_range는 일별 타임스탬프를 생성한다. 만약 시작날짜나 종료 날짜만 넘긴다면 생성할 기간의 숫자를 함께 전달해야만 한다.



#시작과 종료 날짜는 생성된 날짜 생인에 대해 엄격한 경계를 정의한다 예를 들면 날짜
# 색인이 각월의 마지막 영업일을 포함하도록 하고싶다면 빈도값으로 BM을 전달할 것이다. 
#그러면 이 기간안에 들어오는 날짜들만 포함된다.

In [94]:
index = pd.date_range('2012-04-01','2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [95]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [100]:
pd.date_range(end='2012-06-01', periods=20)
pd.date_range('2000-01-01','2000-12-01', freq='BM')


#가끔은 시간정보를 포함해서 시작날짜와종료 날짜를 갖고있는데 관례에 따라 자정에 맞추어 타임스탬프를 정규화하고싶다

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [101]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [102]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [103]:
# 빈도와 날짜 옵셋

from pandas.tseries.offsets import Hour, Minute
hour = Hour()

hour

In [104]:
four_hours = Hour(4)
four_hours

In [105]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [106]:
Hour(2) + Minute(30)

In [107]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [108]:
rng = pd.date_range('2012-01-01','2012-09-01', freq='WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [109]:
# 대부분의 애플리케이션에서는 이런 객체들을 직접만들어야 할 경우는 절대 없다. 대신 H또는 4H처럼 문자열로 표현하게 된다

In [111]:
#데이터 시프트 


#시프트는 데이터를 시간축에서 앞이나 뒤로 이동하는 것을 
#의미한다. Series와 DaraGrame는 색인은 변경하지 않고 데이터를 앞이나 뒤로 느슨한 시프트를 수행하는 shift 매서드를 가지고있다. 

ts = pd.Series(np.random.randn(4),
              index=pd.date_range('1/1/2000',periods=4,freq='M'))
ts

2000-01-31    0.730779
2000-02-29   -0.019384
2000-03-31   -1.199285
2000-04-30   -0.293651
Freq: M, dtype: float64

In [112]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.730779
2000-04-30   -0.019384
Freq: M, dtype: float64

In [113]:
ts.shift(-2)

2000-01-31   -1.199285
2000-02-29   -0.293651
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [114]:
ts / ts.shift(1) - 1

2000-01-31          NaN
2000-02-29    -1.026525
2000-03-31    60.869867
2000-04-30    -0.755145
Freq: M, dtype: float64

In [115]:
ts.shift(2, freq='M')

2000-03-31    0.730779
2000-04-30   -0.019384
2000-05-31   -1.199285
2000-06-30   -0.293651
Freq: M, dtype: float64

In [116]:
#느슨한 시프트는 색인을 바꾸지 않기 때문에 어떤 데이터는 버려지기도 한다. 
#그래서 만약 빈도를 알고 있다면 shift에 빈도를 넘겨서 타임스탬프가 확장되도록 할 수 있다.
#다른 빈도를 넘겨도 되는데 이를 통해 아주 유연하게 테이블을 밀거나 당기는 작업을 할 수 있다 .



ts.shift(3, freq='D')
ts.shift(1, freq='90T')

2000-01-31 01:30:00    0.730779
2000-02-29 01:30:00   -0.019384
2000-03-31 01:30:00   -1.199285
2000-04-30 01:30:00   -0.293651
dtype: float64

In [117]:
# 오프셋 만큼 날짜 시프트하기 

#판다스의 날짜 옵셋은 datetime이나 timestamp 객체에서도 사용할 수 있다.
# 만약에 MonthEnd같은 앵커드 오프셋을 추가한다면 빈도 규칙의 다음날짜로 rollforward 된다 .

from pandas.tseries.offsets import Day, MonthEnd
now =datetime(2011,11 ,17)

In [118]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [119]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [120]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [121]:
offset = MonthEnd()

In [122]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [124]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [128]:
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000',periods=20,freq='4d'))
ts

2000-01-15   -0.967100
2000-01-19   -0.563481
2000-01-23   -0.754163
2000-01-27    0.712350
2000-01-31    0.150552
2000-02-04    2.168914
2000-02-08    1.152074
2000-02-12   -0.473599
2000-02-16   -0.977794
2000-02-20   -0.336409
2000-02-24   -0.953707
2000-02-28    0.433028
2000-03-03    0.021680
2000-03-07    0.901220
2000-03-11   -0.847711
2000-03-15    0.319158
2000-03-19   -0.365434
2000-03-23    0.710866
2000-03-27   -0.978130
2000-03-31    0.472384
Freq: 4D, dtype: float64

In [129]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.284368
2000-02-29    0.144644
2000-03-31    0.029254
dtype: float64

In [130]:
ts.resample('M').mean()

2000-01-31   -0.284368
2000-02-29    0.144644
2000-03-31    0.029254
Freq: M, dtype: float64